<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/home.css">
    <title>juan's games</title>
</head>
<body>
    <header>
        <h1>Juan's games</h1>
        <nav>
            <a href="./ping_pong.html"><img src="../public/img/pin_pong.png" alt=""></a>
            <a href="./brick_out.html"><img src="../public/img/bricks_out.png" alt=""></a>
            <a href="./snake.html"><img src="../public/img/snake.png" alt=""></a>
            <a href="./tetris.html"><img src="../public/img/tetris.png" alt=""></a>
        </nav>
    </header>
</body>
</html>