<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="../public/styles/tetris.css">
    <title>Juan's Tetris</title>
</head>
<body>
    <div>score: <div id="score">0</div></div>
    <canvas></canvas>
    <header>
        <h1>Tetris</h1>
        <h3>press "enter" to Start the game</h3>
        <h3>press "esc" to quit the game</h3>
    </header>
    <script src="../scripts/tetris.js"></script>
</body>
</html>