*{
    margin:0;
    font-family: "roboto","sans-serif";
    color: #F0F0F0;
    text-decoration: none;
}
body{
    display: flex;
    background-color:#111111;
}
header{
    display: flex;
    margin: 10px;
    flex-direction: column;
    align-self: flex-start;
    justify-content: right;
    max-height: 11vh;
    font-size: 4vh;
}
article{
    display: flex;
    margin: 10px;
    flex-direction: column;
    align-self: center;
    font-size: 2vw;
}
div{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    align-self: center;
    margin: 8px;
    margin-right: 20px;
    color: #F0F0F0;
}
h3{
    margin: 10px;
}
a{
    font-size: 5vh;
}
canvas{
    border: 2px solid white;
}