*{
    margin: 0px;
    padding: 0px;
    color: azure;
}
body{
    background-color:#111111;
}
header{
    display: flex;
    justify-content: space-between;
    margin: 5px;
    
}
div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 8px;
}
h3{
    display: flex;
    align-self: center;
    margin: 10px;
}
canvas{
    margin: 8px;
    border: 5px solid #2C2C2C;
}
